<section id="booking">
  <div class="custom-container" style="background-image: url(https://media.istockphoto.com/photos/flying-popcorn-from-striped-bucket-isolated-on-black-background-picture-id1169791287?k=20&m=1169791287&s=170667a&w=0&h=4SqdTUBSC5N5NWXElJswWrx5YBlxsc8_ZWIFvK7PekA=);">
    <h3 style="color: red">{{ errorMessage }}</h3>
    <form [formGroup]="bookingForm" (ngSubmit)="addABooking()">
      <div class="form-row">
        <div style="color: wheat;font-size: 25px;">
          Choose Mode of Booking
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="wrap">
          <input
            type="radio"
            id="rad1"
            value="admin"
            formControlName="transactionMode"
          />
          <label for="rad1">Online</label>
          <input
            type="radio"
            id="rad2"
            formControlName="transactionMode"
            value="offline"
          />
          <label for="rad2">Offline</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-row">
          <div class="date">
            <input
              type="date"
              class="form-control"
              formControlName="bookingDate"
            />
          </div>
        </div>
      </div>
      <div>
        <button [routerLink]="['/movie']" type="submit" class="btn btn-danger">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">
          Proceed <i class="icofont-long-arrow-right"></i>
        </button>
      </div>
    </form>
  </div>
</section>
